@tailwind base;
@tailwind components;
@tailwind utilities;

.table_scroll::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table_scroll::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table_scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
}
.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}
